name = "leaderboard-tracker"
main = "src/worker.ts"
compatibility_date = "2024-12-22"

[vars]
# Development variables here

[[kv_namespaces]]
binding = "worker-binding"
id = "your-id"
preview_id = "your-preview-kv-id"

[triggers]
crons = ["*/10 * * * *"]